/* html {
  width: 100%;
  overflow-x: hidden;
  font-family: AvenirNext, Avenir, -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun,
    sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: #ddd;
  line-height: 1.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.main {
  margin-left: calc(50% - 400px);
  width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #282828;
}

.nav {
  margin: 200px 0;
  line-height: 1;
  font-size: 128px;
  font-weight: 900;
}

.page__inner {
  margin: 100px 0;
  font-size: 24px;
}

.link {
  margin: 50px 0;
  font-size: 16px;
}

span {
  color: #faa2c1;
  cursor: none;
} */







/* body.main {
    --color-text: #fff;
    --color-bg: #171717;
    --color-link: #282828;
    background-color: var(--color-bg);
    width: 100%;
  overflow-x: hidden;
  font-family: AvenirNext, Avenir, -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun,
    sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: #ddd;
  line-height: 1.7;
  }

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page__inner {
    display: flex;
    justify-content: center;
    width: 100%;
  }

    .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    color:  #ffffff;
    /* backdrop-filter: blur(3); */
    /* } */

   /* .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
  }
  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }

  .nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
  }
  .link {
    display: flex;
    width: 75px;
    height: 75px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
  }
  .settings-icon {
    display: block;
    width: 40px;
    height: 40px;
  }
  .settings-icon__line {
    stroke: var(--color-text);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  } 

  .settings-icon__rect {
    stroke: var(--color-text);
    fill: var(--color-bg);
    stroke-width: 5px;
    transition: all 0.2s ease 0.05s;
  }
  
  .link:hover .settings-icon__line,
  .link:hover .settings-icon__rect {
    stroke: var(--color-link);
    transition: all 0.2s ease 0.05s;
  }
  .link:hover .settings-icon__group--1 .settings-icon__rect {
    transform: translateY(20px);
  }
  .link:hover .settings-icon__group--2 .settings-icon__rect {
    transform: translateY(-20px);
  }
  .link:hover .settings-icon__group--3 .settings-icon__rect {
    transform: translateY(25px);
  }

  .page, .page a {
    cursor: none;
   }  */ 

   