/* html {
  width: 100%;
  overflow-x: hidden;
  font-family: AvenirNext, Avenir, -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun,
    sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: #ddd;
  line-height: 1.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.main {
  margin-left: calc(50% - 400px);
  width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #282828;
}


.page__inner {
  margin: 100px 0;
  font-size: 24px;
}

.link {
  margin: 50px 0;
  font-size: 16px;
}

span {
  color: #faa2c1;
  cursor: none;
} */




body.main {
    --color-text: #3b3b3b;
    --color-bg: #171717;
    --color-link: rgb(244,244,244) ;
    background-color: var(--color-bg);
    width: 100vw;
  overflow-x: hidden;
  font-family: AvenirNext, Avenir, -apple-system, BlinkMacSystemFont,
    "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun,
    sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color:  rgb(172, 172, 172);
  line-height: 1.7;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    color:  #3b3b3b;
    }

   .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
    mix-blend-mode: difference;
  }

  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
    mix-blend-mode: difference;
  }

  /* .nav { */
    /* display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   */
    /* float: left; */
    /* width: 300px; */
    /* padding: 10px; */
  /* } */

  /* .nav-links { */
    /* width: 75px;
    height: 75px;
    margin: auto;
    min-height: 10vh; */
    /* align-items: left; */
    /* list-style: none; 
    text-align: center; */
  /* } */

  /* .nav-links:hover {
    color: rgb(244,244,244) ;
    mix-blend-mode: difference;
  } */

  .about{
  position: absolute;
  left: 1%;
  top: 11.7%;
  padding: 10px;
  font-size: x-small;
  font-weight: bold;
  
  }

  .abouts{
    position: absolute;
    left: 1%;
    top: 13%;
    padding: 10px;
    font-size: medium;
    width: 500px;
    color:  rgb(172, 172, 172);
    }


    .aboutbasic{
    position: absolute;
    left: 12.5%;
    top: 19.8%;
    padding: 10px;
    font-size: medium;
    /* font-weight: bold; */
    color:  rgb(172, 172, 172);
    font-family: URW Chancery L, cursive;
    }

    .aboutbasic:hover{
      transform: skew(20deg);
      color:  rgb(49, 49, 49);
    }






  .socials{
  position: absolute;
  top: 39%;
  left: 1%;
  padding: 10px;
  font-size: x-small;
  font-weight: bold;
  }

  .arena{
    position: absolute;
    left: 1%;
    top: 40%;
    padding: 10px;
    font-size: medium;
    color:  rgb(172, 172, 172);
    font-family: URW Chancery L, cursive;
  }


  .insta{
    position: absolute;
    left: 1%;
    top: 44%;
    padding: 10px;
    font-size: medium;
    color:  rgb(172, 172, 172);
    font-family: URW Chancery L, cursive;
  }

  .spotify{
    position: absolute;
    left: 1%;
    top: 48%;
    padding: 10px;
    font-size: medium;
    color:  rgb(172, 172, 172);
    font-family: URW Chancery L, cursive;
  }

  .insta:hover{
    transform: skew(20deg);
    color:  rgb(49, 49, 49);
  }

  .spotify:hover{
    transform: skew(20deg);
    color:  rgb(49, 49, 49);
  }

  .arena:hover{
    transform: skew(20deg);
    color:  rgb(49, 49, 49);
  }





  .contacts{
  position: absolute;
  left: 1%;
  top: 28%;
  padding: 10px;
  font-size: x-small;
  font-weight: bold;
  }

  .email{
    position: absolute;
    left: 1%;
    top: 29%;
    padding: 10px;
    font-size: medium;
    color:  rgb(172, 172, 172);
    /* font-weight: bold; */
    font-family: URW Chancery L, cursive;
    content:"email"
    }

    .email:hover{
      transform: skew(20deg);
      /* backdrop-filter: blur(30); */
      color:  rgb(172, 172, 172);;
    }

    .email:hover:before {content:"gabriellengoo@hotmail.com"}


  

  

  .page, .page a {
    cursor: none;
   } 

   h1{
    position: absolute;
    left: 1%;
    top: 1%;
    padding: 10px;
    font-size: x-small;
    font-weight: bold;
    color:  rgb(172, 172, 172);
   }

   .date{
    left: 1%;
    top: 95%;
    padding: 10px;
    font-weight: bold;
    color:  rgb(172, 172, 172);
   }

   .dob{
    position: absolute;
    left: 95%;
    top: 95%;
    padding: 10px;
    font-size: x-small;
    font-weight: bold;
    color:  rgb(172, 172, 172);
   }

   